* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body {
    border: 1px solid #000;
}

.platforma {
    display: none;
}



.menu a i {
    position: absolute;
    top: -50px;
    font-size: 46px;
    color: #fff;
    margin-top: 15px;
}
.conteiner {
    width: 90%;
    margin: 0 auto ;
}

header {
    background-color: #253089;
    height: 65px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}
.icons {
    position: relative;
    top: 5px;  
    left: 20px;
}

.icon_1 {
    position: relative;
    top: -10px;
    left: 34px;
}

.btn_1 {
    color: #fff;
    text-decoration: none;
    border: 2px solid #FF7700;
    border-radius: 30px;
    position: relative;
    top: 21px;
    right: -260px;
    padding: 10px 50px;
} 

.btn_2 {
    color: #fff;
    text-decoration: none;
    border: 2px solid #FF7700;
    border-radius: 30px;
    position: relative;
    top: 21px;
    right: -270px;
    padding: 10px 40px;
    background-color: #FF7700;
}

.links {
    display: flex;
    justify-content: space-between;
}
.logo {
    display: flex;
    justify-content: space-between;
}
.logo_des {
    width: 180px;
    font-size: 16px;
    position: relative;
    top: 40px;
    left: -80px;
    color: #253089;;
}

.logo img {
    width: 170px;
    position: relative;
    top: -55px;
    left: -35px;
}

/* links  */
.link {
    width: 700px;
    margin-right: 30px;
    
} 
.link ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    position: relative;
    top: 40px;
}
.link ul li a{
    text-decoration: none;
    color: #0B0D17;
    font-size: 20px;
    font-weight: 600;
}

.active:active {
    border-bottom: 3px solid #000;
}


/* box_one */

.box_one {
    display: flex;
    justify-content: space-between;
    margin-top: -150px;
    height: 400px;
}
.box-one-des {
    
    padding-top: 200px;
    padding: 160px 60px;
    width: 550px;
    font-size: 18px;
    color: #18191F;
    font-weight: 500;
    
}
.box-one-des a {
    text-decoration: none;
    border: 1px solid #253089;
    padding: 10px 110px;
    color: #fff;
    background-color: #253089;
    position: relative;
    top: 30px;
}
.box-one-des a i {
    position:  relative;
    top: 3px;
    left: 8px;
}


/* vector */

.vector img:first-child {
    width: 100%;
    position: absolute;
    top: 420px;
}
.vector img:nth-child(2) {
    width: 100%;
    position: absolute;
    top: 440px;
}
.vector img:nth-child(3) {
    width: 100%;
    position: absolute;
    top: 460px;
}


/* content-one */

.content-one-title {
    text-align: center;
    margin-top: 260px;
}
.content-one-title h2 {
    font-size: 34px;
    margin-bottom: 5px;
    color: #18191F;
}
.content-one-title p {
    font-size: 18px;
    width: 550px;
    margin: 0 auto;
    color: #18191F;
}

.content-one-box {
    margin: 0 auto;
    margin-top: 80px;
    display: grid;
    grid-template-columns: 400px 400px 400px ;
    grid-template-rows: 150px 150px auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-gap: 30px;
}

.content-one-box .item {
    margin-top: 10px;
    text-align: center;
}

.content-one-box .item img {
    margin-bottom: 20px;
}
.content-one-box .item img:nth-child(3) {
    position: relative;
    top: -6px;
}


/* Hamkorlarimiz */

.hamkorlarimiz h2 {
    text-align: center;
    font-size: 36px;
    margin: 50px;
    margin-bottom: 40px;
}

.hamkor_img {
    display: grid;
    grid-template-columns: repeat( 6, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(120px, auto));
    border-top: 1px solid #ECF0F4;
    border-bottom: 1px solid #ECF0F4;
    padding: 10px 0;
} 

.hamkor_img img {
    width: 110px;
    margin: 20px 30px;
}

/* vektor-two */

.vector-two img:first-child {
    width: 100%;
    position: absolute;
    top: 1520px;
}
.vector-two img:nth-child(2) {
    width: 100%;
    position: absolute;
    top: 1540px;
}
.vector-two img:nth-child(3) {
    width: 100%;
    position: absolute;
    top: 1560px;
}


/* maqsadimiz */

.maqsadimiz {
    margin: 0 auto;
    margin-top: 200px;
}

.maqsadimiz-box {
    display: grid;
    grid-template-columns: repeat(400px, 400px);
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    
}

.maqsadimiz_img img {
    height: 480px;
    width: 550px;
} 

.maqsadimiz_des {
    width: 500px;
    height: 300px;
    margin-top: 100px;
}
.maqsadimiz_des h2 {
    font-size: 36px;
    color: #18191F;
    font-weight: 700;
    margin-bottom: 20px;
}

.maqsadimiz_des p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: #18191F;
    margin-bottom: 40px;
}

.maqsadimiz_des a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #8C30F5;
}

.maqsadimiz_des a i {
    position: relative;
    top: 4px;
    left: 20px;
    font-size: 22px;
}  


/* boglannish */

.boglannish {
    border: 1px solid #000;
    width: 800px;
    height: 480px;
    margin: 0 auto;
    margin-top: 140px;
    border-radius: 15px;
    box-shadow:  0px 0px 20px rgba(0, 0, 0, 0.17);
    text-align: center;
    margin-bottom: 140px;
}

.corners img:first-child {
    position: relative;
    top: 20px;
    left: -340px;
}
.corners img:nth-child(2) {
    position: relative;
    top: 20px;
    right: -380px;
}
.corners img:nth-child(3) {
    position: relative;
    top: 440px;
    left: -380px;
}
.corners img:nth-child(4) {
    position: relative;
    top: 440px;
    right: -340px;
}

.boglannish-title h2 {
    font-size: 34px;
    margin-top: 40px;
}

.inputs {
    display: grid;
    grid-template-columns: 50% 50% ;
    
}

.input-1 input {
    margin-top: 50px;
    width: 300px;
    border: none;
    border-bottom: 1px solid #000;
    padding: 10px 0;
    font-weight: 600;
}

.input-1 p {
    position: relative;
    top: 50px;
    left: -110px;
    font-size: 14px;
    font-weight: 700;
    color: #868686;
    overflow: none;
}

.inputs  a {
    text-decoration: none;
    position: relative;
    top: 50px;
    border: 1px solid #253089;
    width: 250px;
    height: 50px;
    margin-left: 270px;
    line-height: 46px;
    color: #fff;
    background-color: #253089;
    font-weight: 600;
}


/* footer */

footer {
    background-color: #253089;
    border: 1px solid #000;
    width: 100wh;
    height: 380px;
}

.footer-box {
    display: flex;
}
.part1 {
    width: 500px;
}
.part1 img {
    width: 140px;
    margin-left: -50px;
}

.part1 h3 {
    position: absolute;
    width: 200px;
    top: 3116px;
    left: 120px;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}

.part1 ul {
    display: flex;
    list-style: none;
}
.part1 ul li {
    margin-right: 15px;
    margin-top: -50px;
}
.part1 ul li a {
    text-decoration: none;
    color: #fff;
}

.part1 p {
    width: 330px;
    margin-bottom: 40px;
    color: rgba(255, 255, 255, 0.7);
}

.part1 h4 {
    color: #D9DBE1;
    font-weight: 400;
}
.part2  {
    width: 200px;
    margin: 0 0 0 20px;
    
}
.part2 h2 {
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #8C97AC;
    font-weight: 400;
}  
.part2 h3 {
    margin-bottom: 10px;
}
.part2 h3 a {
    text-decoration: none;
    font-size: 14px;
    color: #E9F7FE;
    font-weight: 400;
    
}

.part4  {
    width: 380px;
}

.part4 h2 {
    margin-top: 70px;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 16px;
    color: #8C97AC
} 
.part4 p {
    font-size: 14px;
    width: 250px;
    margin-bottom: 30px;
    color: #E9F7FE;
}

.part4 h3 a {
    text-decoration: none;
    font-size: 14px;
    color: #FFD166;
    font-weight: 400;
}
.part4 h4 a {
    text-decoration: none;
    font-size: 14px;
    color: #FFD166;
    font-weight: 400;
}


.icon_two {
    width: 200px;
    position: relative;
    right: -960px;
    top: -30px;
}
.icon_two img:last-child {
    position: relative;
    top: -15px;
    right: -10px;
}


@media only screen  and  (max-width: 580px){
    .icon {
        display: none;
    }
    .btn {
        display: none;
    }
    .menu a {
        position: absolute;
        top: 50px;
        left: 420px;
    }
    .box-one-des {
        position: relative;
        top: 300px;
        text-align: center;
    }
    .box-one-img img {
        position: absolute;
        left: 0;
        width: 480px;
        margin-top: 20px;

    }
    .platforma {
      display: block;
      margin-top: -40px;
      text-align: center;
      margin-bottom: 40px;
        
    }
    .link {
        display: none;
    }
    .content-one-title {
        margin-top: 360px;
    }
    .content-one p{
        width: 400px;
    }

    .content-one-box  {
        margin-bottom: 80px;
    }

    .hamkorlarimiz h2 {
        margin-bottom: 100px;
    }

    .maqsadimiz_img img{
        width: 440px;
    }

    .maqsadimiz_des  {
        width: 400px;
        margin: 0 auto;
        margin-top: 50px;
    }

    .boglannish {
        width: 440px;  
        height: 670px;
    }

    .inputs {
        display: block;
    }
    .inputs a {
        position: relative;
        right: 180px;
        padding: 10px 90px;
    }

    .part1 h3 {
    display: none;
    }
    .part1 img {
        margin-left: 70px;
    }

    .part1 h4 {
        display: none;
    }

    .part1 ul {
        display: none;
    }
    .part1 p {
        text-align: center;
        margin-left: 50px;
        font-weight: 600;
    }

    .part2 {
        display: none;
    }

    .part4 h2 {
        display: none;
    }
    .part4 p {
        display: none;
    }

    .part4 h3 {
        position: absolute;
        left: 180px;
        top: 4920px;

    }

    .part4 h4 {
        position: absolute;
        left: 180px;
        top: 4900px;
    }

    .corners {
        display: none;
    }
}


@media only screen  and  (max-width: 950px) {
    .platforma {
        display: block;
        margin-top: -120px;
        margin-bottom: 40px;
        color: #253089;
        font-size: 18px;
        margin-bottom: 1px;
    }

    .box-one-des p {
        font-size: 14px;
    }

    .box-one-img img {
        width: 450px;
    }

    .box-one-des a {
        padding: 10px 50px;
    }

    .btn a:first-child {
        position: absolute;
        top: 10px;
        right: 150px;
    }
    .btn a:last-child {
        right: -320px;
    }

    .hamkorlarimiz {
        margin-top: 190px;
    }


    .maqsadimiz_img img {
        width: 450px;
    }

    .maqsadimiz_des {
        width: 350px;
    }

    .footer_logo h3 {
        position: absolute;
        top: 3400px;
    }

    .part2 {
        margin-right: 10px;
    }

    .icon_two {
        position: absolute;
        top: 3580px;
        left: 650px;
    }
}